body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.icon {
    height: 60px;
}
.navbar nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    cursor: progress;
}

.navbar nav a:hover {
    color: #e63946;
    text-decoration: none;
    background-color: transparent;
    box-shadow: 5px 5px 15px rgba(230, 57, 70, 0.2);
    font-size: 24px;
}
.ask-container {
    width: 70%;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.ask-container:hover {
    box-shadow: 10px 10px 25px rgba(0,0,0,0.15);
    transform: translateY(-5px);
    transform: translateX(-5px);
    transform: translateZ(-5px);
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #e63946;
}

h2:hover {
    text-shadow: 10px 10px 25px rgba(230, 57, 70, 0.3);
    background-color: transparent;
}

.input-group {
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
    padding: 20px;
}

.input-group:hover {
    box-shadow: 10px 10px 25px rgba(0,0,0,0.8);
    transform: translateY(-5px);
    transform: translateX(-5px);
    transform: translateZ(-5px);
    border-radius: 5px;
}

.input-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
}

.input-group label:hover {
    color: #e63946;
    font-size: 20px;
    text-shadow: 2px 2px 5px rgba(230, 57, 70, 0.3);
}

.input-field {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.input-field:hover {
    border-color: #e63946;
    box-shadow: 5px 5px 15px rgba(230, 57, 70, 0.9);
    width: 95%;
}

.textarea {
    height: 350px;
    width: 90%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.textarea:hover {
    border-color: #e63946;
    box-shadow: 5px 5px 15px rgba(230, 57, 70, 0.9);
    width: 95%;
    height: 450px;
}

.btn {
    padding: 14px 25px;
    background: #e63946;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: box-shadow 0.9s ease;
}

.btn:hover {
    background: #d62828;
    color: black;
    box-shadow: 10px 10px 25px rgba(0,0,0,0.15);
    transform: translateY(-3px);
    transform: translateX(-3px);
    transform: translateZ(-3px);
    cursor: progress;
}


footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
    margin-top: 40px;
}
