body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.icon {
    height: 60px;
}

.navbar nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    cursor: progress;
}

.navbar nav a:hover {
    color: #e63946;
    text-decoration: none;
    background-color: transparent;
    box-shadow: 5px 5px 15px rgba(230, 57, 70, 0.2);
    font-size: 24px;
}

.profile-container {
    width: 70%;
    height: 100%;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.profile-container:hover {
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    height: 250px;
}

.profile-header:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    background-color: #39e6ac;
}

.profile-header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    border: 3px solid #e63946;
}

.profile-header img:hover {
    box-shadow: 0 4px 15px rgba(230, 57, 70, 0.6);
    transform: scale(1.05);
    transition: transform 0.3s ease;
    border: 5px solid #444;
}

.profile-header h2 {
    margin: 0;
    font-size: 30px;
    color: #e63946;
}

.profile-header h2:hover {
    text-decoration: underline;
    font-size: 34px;
    color: #fff;
}

.profile-header p {
    margin: 5px 0 0;
    color: #373333;
    font-size: 16px;
}

.bio {
    font-size: 20px;
    margin: 10px 0 20px;
    color: #444;
}

h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #333;
}

h3:hover {
    text-decoration: underline;
    font-size: 26px;
    color: #e63946;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.content-card {
    background: #fafafa;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    border-left: 4px solid #e63946;
}

.content-card:hover {
    box-shadow: 0 6px 18px rgba(0,0,0,0.3);
    transform: translateY(-3px);
    transition: all 0.3s ease;
    background-color: transparent;
    border: 4px solid #e63946;
}

footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
    margin-top: 40px;
    bottom: 0px;
    margin-bottom: 0px;
}
