body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar .logo {
    height: 90px;
}

.search-container {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.search-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 10px 0 0 10px;
  outline: none;
}

.search-button {
  padding: 10px 20px;
  font-size: 18px;
  border: 2px solid #000;
  background-color: #4caf50;
  color: white;
  border-radius: 0 10px 10px 0;
  cursor: progress;
}


.navbar nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    cursor: progress;
}

.navbar nav a:hover {
    color: #e63946;
    text-decoration: none;
    background-color: transparent;
    box-shadow: 5px 5px 15px rgba(230, 57, 70, 0.2);
    font-size: 24px;
}
.hero {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg,#e63946,#ff9f1c);
    color: white;
    text-align: center;
        padding: 20px;
}

 h1 {
    font-size: 52px;
}

 h1:hover {
    background-color: transparent;
    box-shadow: 5px 5px 25px rgba(57, 77, 228, 0.2);
    font-size: 58px;
}
p {
    font-size: 20px;
        margin-top: 10px;
}
.feed {
    padding: 40px;
    }
.feed h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.feed h2:hover {
    background-color: transparent;
    box-shadow: 5px 5px 25px rgba(57, 228, 77, 0.2);
    font-size: 44px;
}

.question-card {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.question-card:hover {
    box-shadow: 15px 15px 15px rgba(0,0,0,0.5);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
.question-card h3 {
    margin: 0 0 10px;
    color: #e63946;
    font-size: 24px;
}
.question-card p {
    font-size: 18px;
    color: #000000;
}

 .question-card button {
    padding: 10px 20px;
    border: none;
    background: #4caf50;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.question-card button:hover {
    background: #d62828;
    box-shadow: 10px 10px 20px rgba(214, 40, 40, 0.4);
    transform: translate3d(0, -2px, 0);
    transition: all 0.3s ease;
}

.about {
    padding: 40px;
    background: #fff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.about:hover {
    box-shadow: 15px 15px 15px rgba(0,0,0,0.5);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
    margin-top: 40px;
}

.container {
    padding: 20px;
    margin: 40px;
    width: 80%;
    height: 90%;

}

.topics-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.topic-card {
    background: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.topic-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

.topic-card h3 {
    margin: 0 0 10px;
    font-size: 22px;
    color: #333;
}

.topic-card p {
    margin: 0;
    color: #555;
    font-size: 16px;
}

